.Pagination__item{
    margin: calc(10/1440*100vw) 0;
}
@media (max-width: 720px){
    .Pagination__item{
        margin: calc(10/425*100vw) 0;
    }
}
.Pagination__item li {
    display: inline-block;
    /* 
   text-align: center;
   line-height:42px;
    width: 45px;
    height: 45px;
    
    border: 1px solid #FF8F52;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer; 
    */

}
.Pagination__item li a:hover {
    background-color:#FF8F52 ;
    color: aliceblue;
 }
.Pagination__item li a {
    display: inline-block;
    color: #FF8F52;
    display: inline-block;
   text-align: center;
   line-height:calc(43/1440*100vw);
    width: calc(45/1440*100vw);
    height: calc(45/1440*100vw);
    /* padding: 10px; */
    border: 1px solid #FF8F52;
    border-radius: 30px;
    margin-right: calc(10/1440*100vw);
    cursor: pointer;
}
@media (max-width: 720px){
    .Pagination__item li a {
       line-height:calc(43/425*100vw);
        width: calc(45/425*100vw);
        height: calc(45/425*100vw);
        margin-right: calc(10/425*100vw);

    }
}
.Pagination__item .selected a{
    background-color:#f56618 ;
    color: aliceblue;
}