.header{
    flex: 0 0 auto;
}

.header__container{
    display: flex;
    align-items:center;
    justify-content:space-between;
    
}

.header__logo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: calc(32/1440*100vw);
    line-height: calc(38/1440*100vw);

    color: #FF8F52;
}

.header__menu {}

.menu {}

.menu__list{
    display: flex;
    justify-content:center;
    align-items:center;
}

.menu__item{}

.menu__item:not(:last-child){
    margin-right: calc(23/1440*100vw);
}

.menu__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(20/1440*100vw);
    line-height: calc(23/1440*100vw);
    
    color: #000000;
}


.header__img{

} 

.header__img-human{
    width: calc(26/1440*100vw);
    margin-right: calc(20/1440*100vw);
}

.header__img-shop{
    width: calc(32/1440*100vw);
    color: #000000;
    
}

.active{
    /* border-bottom: 1px solid #FF8F52; */
    color: #FF8F52;
}


.header__Linc-shop{
    display: inline-block;
    
    
    
    
}

.header__Linc-shop span{
    margin: 0 calc(5/1440*100vw);
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: calc(20/1440*100vw);
line-height: calc(20/1440*100vw);

color: #000000;
    
    
    
    
}