
.main__product-items{
    display: flex;
}
@media (max-width:720px) {
    .main__product-items{
        display:block;
    }
  }
.main__product-imgs{
    width: calc(350/1440*100vw);
    height: calc(350/1440*100vw);
    
}
@media (max-width:720px) {
    .main__product-imgs{
        margin: 0 auto;
        width: calc(350/425*100vw);
        height: calc(350/425*100vw);
        
    }
  }
  
.main__product-img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.main__product-body{}

.main__product-body>*:not(:last-child){
    margin-bottom: calc(20/1440*100vw);
}

@media (max-width:720px) {
    .main__product-body>*:not(:last-child){
        margin-bottom: calc(20/425*100vw);
    }
}
@media (max-width:720px) {
    .main__product-body>:last-child{
        margin-bottom: calc(20/425*100vw);
    }
}
  

.main__product-title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: calc(22/1440*100vw);
line-height: calc(26/1440*100vw);
/* identical to box height */


color: #000000;
}

@media (max-width:720px) {
    .main__product-title{
    font-size: calc(22/425*100vw);
    line-height: calc(26/425*100vw);

    }
}
.main__product-description{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(22/1440*100vw);
    line-height: calc(35/1440*100vw);
    /* or 159% */
    
    
    color: #838383;

}
@media (max-width:720px) {
    .main__product-description{font-family: 'Roboto';
        font-size: calc(22/425*100vw);
        line-height: calc(35/425*100vw);
    }
}
.main__product-price{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: calc(22/1440*100vw);
line-height: calc(26/1440*100vw);
/* identical to box height */


color: #000000;
}
@media (max-width:720px) {
    .main__product-price{
    font-size: calc(22/425*100vw);
    line-height: calc(26/425*100vw);
    }
}