.search__items{
    position: relative;
}
@media (max-width: 720px){
    .search__items{
        margin-bottom: calc(25/425*100vw);
    }
    
}

.search__img{
    width: calc(22/1440*100vw);
    height: calc(22/1440*100vw);

}
@media (max-width: 720px){
    .search__img{
        width: calc(22/425*100vw);
        height: calc(22/425*100vw);
    
    }
}
.search__input{
    border: 1px solid rgba(0,0,0,.2);
    padding: calc(12/1440*100vw) calc(20/1440*100vw);
    padding-left: calc(40/1440*100vw);
    
    width: calc(300/1440*100vw);
    border-radius: 10px;
    /* font-size: 16px; */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(18/1440*100vw);
    line-height: calc(21/1440*100vw);
    /* identical to box height */


    color: #838383;
}

@media (max-width: 720px){
    .search__input{

        padding: calc(12/425*100vw) calc(20/425*100vw);
        padding-left: calc(40/425*100vw);
        width: calc(300/425*100vw);
        border-radius: 10px;
        font-size: calc(18/425*100vw);
        line-height: calc(21/425*100vw);
    }
}

.search__input:focus{
    border: 1px solid rgba(0,0,0,.4);
}


.search__img-search{
    position: absolute;
    top: calc(12/1440*100vw);
    left: calc(12/1440*100vw);
    
    
    pointer-events: none;
}
@media (max-width: 720px){
    .search__img-search{

        top: calc(12/425*100vw);
        left: calc(12/425*100vw);

    }
}

.search__img-close{
    position: absolute;
    bottom: calc(12/1440*100vw);
    right: calc(12/1440*100vw);
    opacity: .4;
    
    cursor: pointer;
}
@media (max-width: 720px){
    .search__img-close{
        bottom: calc(12/425*100vw);
        right: calc(12/425*100vw);
    }
}

.search__img-close:hover{
    opacity: .6;
}