.filtering-items{
    display: flex;
}

.filtering-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(18/1440*100vw);
    line-height: calc(21/1440*100vw);
    /* identical to box height */
    padding: calc(5/1440*100vw) calc(25/1440*100vw);
    
    color: #000000;

    cursor:pointer;
}

.filtering-item:not(:last-child){
    margin-right: calc(15/1440*100vw);
}

.filtering-active{
    border-radius: calc(15/1440*100vw);
    background: #000;
    color:aliceblue;
}