.filtering-items{
    display: flex;
}
@media (max-width: 720px){
    .filtering-items{
        flex-wrap:wrap;
        justify-content:center;
    }
}

.filtering-item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(18/1440*100vw);
    line-height: calc(21/1440*100vw);
    /* identical to box height */
    padding: calc(5/1440*100vw) calc(25/1440*100vw);
    
    color: #000000;

    cursor:pointer;
}
@media (max-width: 720px){
    .filtering-item{
        
        font-size: calc(18/425*100vw);
        line-height: calc(21/425*100vw);
        padding: calc(5/425*100vw) calc(25/425*100vw);
    }
}

.filtering-item:not(:last-child){
    margin-right: calc(15/1440*100vw);
}
@media (max-width: 720px){
    .filtering-item:not(:last-child){
        margin-right:0;
    }
}
.filtering-active{
    border-radius: calc(15/1440*100vw);
    background: #000;
    color:aliceblue;
}