.main{
    margin-top: calc(25/1440*100vw);
    flex: 1 0 auto;
}

.product{

}

.product__container{}

.product__title{
margin: calc(30/1440*100vw) 0 calc(5/1440*100vw) 0;

    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: calc(32/1440*100vw);
line-height: calc(38/1440*100vw);
/* identical to box height */


color: #000000;
}

.Filtering{}

.Filtering__container{}

.Filtering__title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: calc(18/1440*100vw);
line-height: calc(18/1440*100vw);
/* identical to box height */
margin: calc(10/1440*100vw) 0;


color: #000000;
}

.Filtering__row{}


.product__card{
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    
}

