.from {
    max-width: calc(550/1440*100vw);
    margin: calc(50/1440*100vw) auto;
    
    padding: calc(30/1440*100vw) 0;
}

@media (max-width:720px) {
    .from {
        max-width: calc(350/425*100vw);
        margin: calc(50/425*100vw) auto;
        
        padding: calc(30/425*100vw) 0;
    }
    
}
  

.from__body {
}





.form {}



.form__title {
    font-size: calc(40/1440*100vw);
    font-weight: 700;
    margin: 0 0 calc(40/1440*100vw) 0;
}
@media (max-width:720px) {
        .form__title {
            font-size: calc(40/425*100vw);
            
            margin: 0 0 calc(40/425*100vw) 0;
        }
        
}


.form__item {
    margin-bottom: calc(20/1440*100vw);
    }

@media (max-width:720px) {
        .form__item {
            margin-bottom: calc(20/425*100vw);
            }
        
        
}

.form__label {
    font-size: calc(18/1440*100vw);
    display: flex;
    justify-content:space-between;
    margin-bottom: calc(10/1440*100vw);
}

@media (max-width:720px) {
    .form__label {
        font-size: calc(18/425*100vw);
        margin-bottom: calc(10/425*100vw);
    }
    
    
}

.form__input {
    height: calc(50/1440*100vw);
    padding: 0 calc(20/1440*100vw);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 100%;
    font-size: calc(18/1440*100vw);

}
@media (max-width:720px) {
    .form__input {
        height: calc(50/425*100vw);
        padding: 0 calc(20/425*100vw);

        font-size: calc(18/425*100vw);
    
    }
    
    
}
.form__input._error{
    box-shadow: 0 0 calc(10/1440*100vw) red;
}
@media (max-width:720px) {
    .form__input._error{
        box-shadow: 0 0 calc(10/425*100vw) red;
    }
    
}
.form__input:focus{
    box-shadow: 0 0 calc(10/1440*100vw) #FF8F52;
}
@media (max-width:720px) {
    .form__input:focus{
        box-shadow: 0 0 calc(10/425*100vw) #FF8F52;
    }
    
}
textarea.form__input {
    min-height: calc(120/1440*100vw);
    resize: vertical;
    padding: calc(10/1440*100vw);
}
@media (max-width:720px) {
    textarea.form__input {
        min-height: calc(120/425*100vw);
        resize: vertical;
        padding: calc(10/425*100vw);
    }
    
}

.form__button {
}

.ontions {

}

.ontions__item {
    position: relative;
}

    

.ontions__input {
/* display: none; */
z-index: 1;
opacity: 0;
position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(120/1440*100vw);
    cursor: pointer;
}
@media (max-width:720px) {
    .ontions__input {
            width: calc(120/425*100vw);
        }
    
}
.ontions__input:checked + .ontions__label::after {
    transform: scale(1);
}

.ontions__label {
    display: inline-flex;
    font-size: calc(16/1440*100vw);
    line-height: 140%;
    align-items: center;
    margin: 0 0 calc(10/1440*100vw) 0;
    position: relative;
}
@media (max-width:720px) {
    .ontions__label {
        font-size: calc(16/425*100vw);
        margin: 0 0 calc(10/425*100vw) 0;
    }
} 

.ontions__label::before {
    content: '';
    align-self: start;
    flex: 0 0 calc(24/1440*100vw);
    height: calc(24/1440*100vw);
    border:1px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: calc(10/1440*100vw);
    
}
@media (max-width:720px) {
    .ontions__label::before {
        content: '';
        flex: 0 0 calc(24/425*100vw);
        height: calc(24/425*100vw);
        margin-right: calc(10/425*100vw);
        
    }
} 
.ontions__label::after {
    content: '';
    position:absolute;
    top: calc(4/1440*100vw);
    left: calc(4/1440*100vw);
    width: calc(16/1440*100vw);
    height: calc(16/1440*100vw);
    border-radius:50% ;
    background: #FF8F52;
    transform: scale(0);
    
}

@media (max-width:720px) {
    .ontions__label::after {
        top: calc(4/425*100vw);
        left: calc(4/425*100vw);
        width: calc(16/425*100vw);
        height: calc(16/425*100vw);
        
    }
}
.from__label{font-size: calc(16/1440*100vw);
    
}
@media (max-width:720px) {
    .from__label{font-size: calc(16/425*100vw);
    
    }
}
.select {
}

.file {

}

.file__item {
    
    position: relative;
}

.file__item-name{
    font-size: calc(16/1440*100vw);
    margin-top: calc(15/1440*100vw);
}  
@media (max-width:720px) {
    .file__item-name{
        font-size: calc(16/425*100vw);
        margin-top: calc(15/425*100vw);
    } 
}
   

.file__input {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100/1440*100vw);
    height: calc(100/1440*100vw);
    opacity: 0;
    font-size: 0;
    cursor: pointer;
}
@media (max-width:720px) {
    .file__input {
        width: calc(80/425*100vw);
        height: calc(50/425*100vw);
    }
}
    

.file__button {
    margin-top: calc(10/1440*100vw);
    color: aliceblue;
    display: inline-flex;
    min-height: calc(40/1440*100vw);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background-color: #FF8F52;
    padding: 0px calc(20/1440*100vw);
}
@media (max-width:720px) {
    .file__button {
        margin-top: calc(10/425*100vw);
        min-height: calc(40/425*100vw);
        padding: 0px calc(20/425*100vw);
    }
}
    

.file__preview {
    display: inline-block;
    max-width: calc(100/1440*100vw);
    padding: calc(10/1440*100vw) 0 0 0;
}

@media (max-width:720px) {
    .file__preview {
        max-width: calc(100/425*100vw);
        padding: calc(10/425*100vw) 0 0 0;
    }
}
.file__preview img{
    
    max-width: 100%;
}


.checkbox {
display: block;
}
.checkbox__input {
    display: inline-block;
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: calc(25/1440*100vw);
    height: calc(25/1440*100vw);
    cursor: pointer;
    
}
@media (max-width:720px) {
    .checkbox__input {
        width: calc(25/425*100vw);
        height: calc(25/425*100vw);
    }
}
.checkbox__input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: calc(16/1440*100vw);
    line-height: 140%;
 }
 @media (max-width:720px) {
    .checkbox__input+label {
        font-size: calc(16/425*100vw);

     }
}

 .checkbox__input+label::before {
    content: '';
    display: inline-block;
    width: calc(24/1440*100vw);
    height: calc(24/1440*100vw);
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #000000;
    border-radius: 0.25em;
    margin-right: calc(8/1440*100vw);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    padding: calc(2/1440*100vw);
  }
  @media (max-width:720px) {
    .checkbox__input+label::before {
        content: '';
        width: calc(24/425*100vw);
        height: calc(24/425*100vw);
        margin-right: calc(8/425*100vw);
        padding: calc(2/425*100vw);
      }
}
.checkbox__input:checked+label::before {
    
    
    border-color: #FF8F52;
    background-color: #FF8F52;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");

    
  }




.form__button{
    width: 100%;
    display: flex;
    justify-content: center;
        align-items: center;
    background-color: #FF8F52;
    min-height: calc(60/1440*100vw);
    color: aliceblue;
    font-size: calc(18/1440*100vw);
    font-weight: 700;
    border-radius: calc(20/1440*100vw);
}
@media (max-width:720px) {
    .form__button{
        min-height: calc(60/425*100vw);
        font-size: calc(18/425*100vw);
        border-radius: calc(20/425*100vw);
    }
}

.form__button:disabled{
    background-color: #9b9b9b;
}


._error{
    display: inline-block;
    text-align: right;
    color: red;
    font-size: calc(18/1440*100vw);
    
}
@media (max-width:720px) {
    ._error{
        font-size: calc(18/425*100vw);
    }
}