.basket__item{
    display: flex;
    min-height: calc(250/1440*100vw);
    overflow: hidden;
    width: 100%;


}
@media (max-width: 720px){
    .basket__item{
        display: flex;
        flex-direction:column;
        min-height: calc(425/425*100vw);
        margin-bottom: calc(35/425*100vw);
        
    }
    
}

.basket__imgs{
    
    
    overflow: hidden;
    width: calc(250/1440*100vw);
    height: calc(230/1440*100vw);
}
@media (max-width: 720px){
    .basket__imgs{
    margin: 0 auto;
        width: calc(250/425*100vw);
        height: calc(130/425*100vw);
    }
    
}
.basket__img{
    object-fit: contain ;
    width: 100%;
    height: 100%;
    border-radius: 5px;
   
}

.basket__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(22/1440*100vw);
    line-height: calc(26/1440*100vw);
    /* identical to box height */
    
    
    color: #000000;
}
@media (max-width: 720px){
    .basket__title{

        font-size: calc(22/425*100vw);
        line-height: calc(26/425*100vw);
    }
}
.basket__description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(18/1440*100vw);
    line-height: calc(21/1440*100vw);
    /* identical to box height */
    
    
    color: #838383;
}
@media (max-width: 720px){
    .basket__description{
        font-size: calc(18/425*100vw);
        line-height: calc(21/425*100vw);
    }
}
.basket__scores{
    margin: 0 calc(15/1440*100vw);
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(20/1440*100vw);
    line-height: calc(23/1440*100vw);
    
    color: #000000;
}
@media (max-width: 720px){
    .basket__scores{
        margin: calc(20/425*100vw) calc(15/425*100vw);
        
        font-size: calc(20/425*100vw);
        line-height: calc(23/425*100vw);

    }
}
.basket__scores-minus{
    
}
.basket__scores-minus button{
    border-radius: 5px;
    border: 1px solid #FF8F52;
    padding: calc(8/1440*100vw) calc(6/1440*100vw);
}
@media (max-width: 720px){
    .basket__scores-minus button{
        padding: calc(8/425*100vw) calc(6/425*100vw);
    }
}
.basket__scores-minus button img{
    
    margin:calc(7/1440*100vw) auto 0px;
}
@media (max-width: 720px){
    .basket__scores-minus button img{
    
        margin:calc(7/425*100vw) auto 0px;
    }
}
.basket__scores-number{
    padding: calc(5/1440*100vw);
}
@media (max-width: 720px){
    .basket__scores-number{
        padding: calc(5/425*100vw);
    }
}
.basket__scores-plus{
    
}
.basket__scores-plus button{
    border-radius: 5px;
    border: 1px solid #FF8F52;
    padding: calc(10/1440*100vw) calc(6/1440*100vw);
    
}
@media (max-width: 720px){
    .basket__scores-plus button{
        padding: calc(10/425*100vw) calc(6/425*100vw);
        
    }
}
.basket__scores-plus button img{
    
    display:block;
    margin:auto;
}
.basket__price{
    position: relative;
    margin-top: calc(4/1440*100vw);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(20/1440*100vw);
    line-height: calc(23/1440*100vw);
    
    color: #000000;
}
@media (max-width: 720px){
    .basket__price{
        position: relative;
        margin-top: calc(20/425*100vw);

        font-size: calc(20/425*100vw);
        line-height: calc(23/425*100vw);

    }
}
.basket__price-item{
    position: absolute;
}
.basket__cross{
    margin:0 0 0 calc(100/1440*100vw);
}
@media (max-width: 720px){
    .basket__cross{
        margin:0 0 0 calc(300/425*100vw);
        width: calc(40/425*100vw);
    }
}

.basket__cross img{
    margin-top: calc(4/1440*100vw);
    border-radius: 50%;
    border: 1px solid #000;
}
@media (max-width: 720px){
    .basket__cross img{
        width: 100%;
        margin-top:0;
        
        border-radius: 50%;
        border: 1px solid #000;
    }
}