
.main__container-BasketPage{
    margin-top: calc(50/1440*100vw);
    padding: 0 calc(150/1440*100vw);
}

.main__heder{
    margin-bottom: calc(30/1440*100vw);
    display: flex;
    justify-content:space-between;
}

.main__heder-title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: calc(20/1440*100vw);
line-height: calc(23/1440*100vw);

color: #000000;

}

.main__heder-button{display: flex;}

.main__heder-text{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(20/1440*100vw);
    line-height: calc(23/1440*100vw);
    /* identical to box height */
    
    
    color: #838383;}

.main__heder-img{
    margin-left: calc(5/1440*100vw);
}



.main__basket{
    display: flex;
    flex-direction:column;
}

