.wrapper{
    padding-top:calc(30/1440*100vw) ;
    display: flex;
    flex-direction:column;
    height: 100vh;
  }
  
  @media (max-width:720px) {
    .wrapper{
      padding-top:calc(10/720*100vw) ;
    }
  }
  
  
  .main{
    flex: 1 0 auto;
  }